ProyectoCieluz/appWebCieluz/Connected Services/ServicioWebCieluz/ServidorProyecto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mtdRegistrarClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjCliente" type="tns:clCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clCliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarClientesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginEscritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdLoginEscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdLoginWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPed" type="tns:clPedido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clPedido">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPedido" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Talla" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PrecioTotal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoPago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idProducto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idAdministrador" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarPedidoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPro" type="tns:clProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clProducto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Precio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diseño" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idAdministrador" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPro" type="tns:clProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdEditarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEliminarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPro" type="tns:clProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEliminarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdEliminarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjAdmin" type="tns:clAdministrador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clAdministrador">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdAdministrador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdListarAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarAdminResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarPro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objProducto" type="tns:clProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarProResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProEscritorio">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarProEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarProEscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProWeb2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProWeb2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarProWeb2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCli">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCliResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarPed">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarPedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarPedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdIndexResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mtdRegistrarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarClientes" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarClientes" />
  </wsdl:message>
  <wsdl:message name="mtdListarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="mtdLoginEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:mtdLoginEscritorio" />
  </wsdl:message>
  <wsdl:message name="mtdLoginEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:mtdLoginEscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="mtdLoginWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdLoginWeb" />
  </wsdl:message>
  <wsdl:message name="mtdLoginWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdLoginWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarPedido" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarProducto" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEditarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEditarProducto" />
  </wsdl:message>
  <wsdl:message name="mtdEditarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEditarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEliminarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEliminarProducto" />
  </wsdl:message>
  <wsdl:message name="mtdEliminarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarAdminSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarAdmin" />
  </wsdl:message>
  <wsdl:message name="mtdListarAdminSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarAdminResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarProSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarPro" />
  </wsdl:message>
  <wsdl:message name="mtdListarProSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarProResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarProEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarProEscritorio" />
  </wsdl:message>
  <wsdl:message name="mtdListarProEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarProEscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarProWeb2SoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarProWeb2" />
  </wsdl:message>
  <wsdl:message name="mtdListarProWeb2SoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarProWeb2Response" />
  </wsdl:message>
  <wsdl:message name="mtdListarCliSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCli" />
  </wsdl:message>
  <wsdl:message name="mtdListarCliSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCliResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarPedSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarPed" />
  </wsdl:message>
  <wsdl:message name="mtdListarPedSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarPedResponse" />
  </wsdl:message>
  <wsdl:message name="mtdIndexSoapIn">
    <wsdl:part name="parameters" element="tns:mtdIndex" />
  </wsdl:message>
  <wsdl:message name="mtdIndexSoapOut">
    <wsdl:part name="parameters" element="tns:mtdIndexResponse" />
  </wsdl:message>
  <wsdl:portType name="ServidorProyectoSoap">
    <wsdl:operation name="mtdRegistrarClientes">
      <wsdl:input message="tns:mtdRegistrarClientesSoapIn" />
      <wsdl:output message="tns:mtdRegistrarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarClientes">
      <wsdl:input message="tns:mtdListarClientesSoapIn" />
      <wsdl:output message="tns:mtdListarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdLoginEscritorio">
      <wsdl:input message="tns:mtdLoginEscritorioSoapIn" />
      <wsdl:output message="tns:mtdLoginEscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdLoginWeb">
      <wsdl:input message="tns:mtdLoginWebSoapIn" />
      <wsdl:output message="tns:mtdLoginWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPedido">
      <wsdl:input message="tns:mtdRegistrarPedidoSoapIn" />
      <wsdl:output message="tns:mtdRegistrarPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarProducto">
      <wsdl:input message="tns:mtdRegistrarProductoSoapIn" />
      <wsdl:output message="tns:mtdRegistrarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEditarProducto">
      <wsdl:input message="tns:mtdEditarProductoSoapIn" />
      <wsdl:output message="tns:mtdEditarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEliminarProducto">
      <wsdl:input message="tns:mtdEliminarProductoSoapIn" />
      <wsdl:output message="tns:mtdEliminarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarAdmin">
      <wsdl:input message="tns:mtdListarAdminSoapIn" />
      <wsdl:output message="tns:mtdListarAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarPro">
      <wsdl:input message="tns:mtdListarProSoapIn" />
      <wsdl:output message="tns:mtdListarProSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarProEscritorio">
      <wsdl:input message="tns:mtdListarProEscritorioSoapIn" />
      <wsdl:output message="tns:mtdListarProEscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb">
      <wsdl:input message="tns:mtdListarProWebSoapIn" />
      <wsdl:output message="tns:mtdListarProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb2">
      <wsdl:input message="tns:mtdListarProWeb2SoapIn" />
      <wsdl:output message="tns:mtdListarProWeb2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCli">
      <wsdl:input message="tns:mtdListarCliSoapIn" />
      <wsdl:output message="tns:mtdListarCliSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarPed">
      <wsdl:input message="tns:mtdListarPedSoapIn" />
      <wsdl:output message="tns:mtdListarPedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdIndex">
      <wsdl:input message="tns:mtdIndexSoapIn" />
      <wsdl:output message="tns:mtdIndexSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServidorProyectoSoap" type="tns:ServidorProyectoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdRegistrarClientes">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarClientes">
      <soap:operation soapAction="http://tempuri.org/mtdListarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginEscritorio">
      <soap:operation soapAction="http://tempuri.org/mtdLoginEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginWeb">
      <soap:operation soapAction="http://tempuri.org/mtdLoginWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPedido">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarProducto">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarProducto">
      <soap:operation soapAction="http://tempuri.org/mtdEditarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEliminarProducto">
      <soap:operation soapAction="http://tempuri.org/mtdEliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarAdmin">
      <soap:operation soapAction="http://tempuri.org/mtdListarAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPro">
      <soap:operation soapAction="http://tempuri.org/mtdListarPro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProEscritorio">
      <soap:operation soapAction="http://tempuri.org/mtdListarProEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb2">
      <soap:operation soapAction="http://tempuri.org/mtdListarProWeb2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCli">
      <soap:operation soapAction="http://tempuri.org/mtdListarCli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPed">
      <soap:operation soapAction="http://tempuri.org/mtdListarPed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdIndex">
      <soap:operation soapAction="http://tempuri.org/mtdIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServidorProyectoSoap12" type="tns:ServidorProyectoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdRegistrarClientes">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarClientes">
      <soap12:operation soapAction="http://tempuri.org/mtdListarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginEscritorio">
      <soap12:operation soapAction="http://tempuri.org/mtdLoginEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdLoginWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPedido">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarProducto">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarProducto">
      <soap12:operation soapAction="http://tempuri.org/mtdEditarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEliminarProducto">
      <soap12:operation soapAction="http://tempuri.org/mtdEliminarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarAdmin">
      <soap12:operation soapAction="http://tempuri.org/mtdListarAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPro">
      <soap12:operation soapAction="http://tempuri.org/mtdListarPro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProEscritorio">
      <soap12:operation soapAction="http://tempuri.org/mtdListarProEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb2">
      <soap12:operation soapAction="http://tempuri.org/mtdListarProWeb2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCli">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCli" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPed">
      <soap12:operation soapAction="http://tempuri.org/mtdListarPed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdIndex">
      <soap12:operation soapAction="http://tempuri.org/mtdIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServidorProyecto">
    <wsdl:port name="ServidorProyectoSoap" binding="tns:ServidorProyectoSoap">
      <soap:address location="http://localhost:50375/ServidorProyecto.asmx" />
    </wsdl:port>
    <wsdl:port name="ServidorProyectoSoap12" binding="tns:ServidorProyectoSoap12">
      <soap12:address location="http://localhost:50375/ServidorProyecto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>