ProyectoCieluz/appEscritorioCieluz/Connected Services/servicioEscritorioCieluz/ServidorProyecto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mtdRegistrarClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjCliente" type="tns:clCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clCliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarClientesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objcli" type="tns:clCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdEditarClienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdCargarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdCargarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdCargarClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarPedidos">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarPedidosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarPedidosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdPedidosEscritorio">
        <s:complexType />
      </s:element>
      <s:element name="mtdPedidosEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdPedidosEscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginEscritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdLoginEscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdLoginWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPed" type="tns:clPedidos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clPedidos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdPedidos" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cantidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Talla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrecioTotal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoPago" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarPedidoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdRegistrarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPro" type="tns:clProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clProducto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Foto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Precio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Color" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diseño" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idAdministrador" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPro" type="tns:clProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEditarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdEditarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEliminarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objPro" type="tns:clProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdEliminarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdEliminarProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjAdmin" type="tns:clAdministrador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clAdministrador">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdAdministrador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdListarAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarAdminResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarPro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objProducto" type="tns:clProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarProResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProEscritorio">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarProEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarProEscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProWeb2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarProWeb2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarProWeb2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCli">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCliResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCliResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdIndexResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarDTodosProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarDTodosProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarDTodosProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarDSencillasProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarDSencillasProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarDSencillasProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarDAnimalesProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarDAnimalesProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarDAnimalesProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarDFloresProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarDFloresProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarDFloresProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarDPersonajesProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarDPersonajesProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarDPersonajesProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarDEspecialProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarDEspecialProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarDEspecialProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCTodosProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCTodosProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCTodosProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCAmarilloProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCAmarilloProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCAmarilloProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCAzulProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCAzulProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCAzulProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCBlancoProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCBlancoProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCBlancoProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCCafeProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCCafeProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCCafeProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCGrisProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCGrisProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCGrisProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCMoradoProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCMoradoProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCMoradoProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCNaranjaProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCNaranjaProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCNaranjaProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCNegroProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCNegroProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCNegroProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCRojoProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCRojoProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCRojoProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCRosadoProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCRosadoProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCRosadoProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarCVerdeProWeb">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarCVerdeProWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarCVerdeProWebResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdNotificacionPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FechaXd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdNotificacionPedidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdNotificacionPedidoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mtdRegistrarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarClientes" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEditarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEditarCliente" />
  </wsdl:message>
  <wsdl:message name="mtdEditarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEditarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="mtdCargarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:mtdCargarCliente" />
  </wsdl:message>
  <wsdl:message name="mtdCargarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:mtdCargarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarClientes" />
  </wsdl:message>
  <wsdl:message name="mtdListarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarPedidosSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarPedidos" />
  </wsdl:message>
  <wsdl:message name="mtdListarPedidosSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarPedidosResponse" />
  </wsdl:message>
  <wsdl:message name="mtdPedidosEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:mtdPedidosEscritorio" />
  </wsdl:message>
  <wsdl:message name="mtdPedidosEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:mtdPedidosEscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="mtdLoginEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:mtdLoginEscritorio" />
  </wsdl:message>
  <wsdl:message name="mtdLoginEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:mtdLoginEscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="mtdLoginWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdLoginWeb" />
  </wsdl:message>
  <wsdl:message name="mtdLoginWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdLoginWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarPedido" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarProducto" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEditarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEditarProducto" />
  </wsdl:message>
  <wsdl:message name="mtdEditarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEditarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdEliminarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdEliminarProducto" />
  </wsdl:message>
  <wsdl:message name="mtdEliminarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdEliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarAdminSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarAdmin" />
  </wsdl:message>
  <wsdl:message name="mtdListarAdminSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarAdminResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarProSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarPro" />
  </wsdl:message>
  <wsdl:message name="mtdListarProSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarProResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarProEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarProEscritorio" />
  </wsdl:message>
  <wsdl:message name="mtdListarProEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarProEscritorioResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarProWeb2SoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarProWeb2" />
  </wsdl:message>
  <wsdl:message name="mtdListarProWeb2SoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarProWeb2Response" />
  </wsdl:message>
  <wsdl:message name="mtdListarCliSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCli" />
  </wsdl:message>
  <wsdl:message name="mtdListarCliSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCliResponse" />
  </wsdl:message>
  <wsdl:message name="mtdIndexSoapIn">
    <wsdl:part name="parameters" element="tns:mtdIndex" />
  </wsdl:message>
  <wsdl:message name="mtdIndexSoapOut">
    <wsdl:part name="parameters" element="tns:mtdIndexResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarDTodosProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarDTodosProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarDTodosProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarDTodosProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarDSencillasProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarDSencillasProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarDSencillasProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarDSencillasProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarDAnimalesProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarDAnimalesProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarDAnimalesProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarDAnimalesProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarDFloresProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarDFloresProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarDFloresProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarDFloresProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarDPersonajesProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarDPersonajesProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarDPersonajesProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarDPersonajesProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarDEspecialProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarDEspecialProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarDEspecialProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarDEspecialProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCTodosProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCTodosProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCTodosProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCTodosProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCAmarilloProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCAmarilloProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCAmarilloProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCAmarilloProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCAzulProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCAzulProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCAzulProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCAzulProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCBlancoProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCBlancoProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCBlancoProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCBlancoProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCCafeProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCCafeProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCCafeProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCCafeProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCGrisProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCGrisProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCGrisProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCGrisProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCMoradoProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCMoradoProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCMoradoProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCMoradoProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCNaranjaProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCNaranjaProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCNaranjaProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCNaranjaProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCNegroProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCNegroProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCNegroProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCNegroProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCRojoProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCRojoProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCRojoProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCRojoProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCRosadoProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCRosadoProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCRosadoProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCRosadoProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarCVerdeProWebSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarCVerdeProWeb" />
  </wsdl:message>
  <wsdl:message name="mtdListarCVerdeProWebSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarCVerdeProWebResponse" />
  </wsdl:message>
  <wsdl:message name="mtdNotificacionPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:mtdNotificacionPedido" />
  </wsdl:message>
  <wsdl:message name="mtdNotificacionPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:mtdNotificacionPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServidorProyectoSoap">
    <wsdl:operation name="mtdRegistrarClientes">
      <wsdl:input message="tns:mtdRegistrarClientesSoapIn" />
      <wsdl:output message="tns:mtdRegistrarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEditarCliente">
      <wsdl:input message="tns:mtdEditarClienteSoapIn" />
      <wsdl:output message="tns:mtdEditarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdCargarCliente">
      <wsdl:input message="tns:mtdCargarClienteSoapIn" />
      <wsdl:output message="tns:mtdCargarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarClientes">
      <wsdl:input message="tns:mtdListarClientesSoapIn" />
      <wsdl:output message="tns:mtdListarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarPedidos">
      <wsdl:input message="tns:mtdListarPedidosSoapIn" />
      <wsdl:output message="tns:mtdListarPedidosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdPedidosEscritorio">
      <wsdl:input message="tns:mtdPedidosEscritorioSoapIn" />
      <wsdl:output message="tns:mtdPedidosEscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdLoginEscritorio">
      <wsdl:input message="tns:mtdLoginEscritorioSoapIn" />
      <wsdl:output message="tns:mtdLoginEscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdLoginWeb">
      <wsdl:input message="tns:mtdLoginWebSoapIn" />
      <wsdl:output message="tns:mtdLoginWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPedido">
      <wsdl:input message="tns:mtdRegistrarPedidoSoapIn" />
      <wsdl:output message="tns:mtdRegistrarPedidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarProducto">
      <wsdl:input message="tns:mtdRegistrarProductoSoapIn" />
      <wsdl:output message="tns:mtdRegistrarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEditarProducto">
      <wsdl:input message="tns:mtdEditarProductoSoapIn" />
      <wsdl:output message="tns:mtdEditarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdEliminarProducto">
      <wsdl:input message="tns:mtdEliminarProductoSoapIn" />
      <wsdl:output message="tns:mtdEliminarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarAdmin">
      <wsdl:input message="tns:mtdListarAdminSoapIn" />
      <wsdl:output message="tns:mtdListarAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarPro">
      <wsdl:input message="tns:mtdListarProSoapIn" />
      <wsdl:output message="tns:mtdListarProSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarProEscritorio">
      <wsdl:input message="tns:mtdListarProEscritorioSoapIn" />
      <wsdl:output message="tns:mtdListarProEscritorioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb">
      <wsdl:input message="tns:mtdListarProWebSoapIn" />
      <wsdl:output message="tns:mtdListarProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb2">
      <wsdl:input message="tns:mtdListarProWeb2SoapIn" />
      <wsdl:output message="tns:mtdListarProWeb2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCli">
      <wsdl:input message="tns:mtdListarCliSoapIn" />
      <wsdl:output message="tns:mtdListarCliSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdIndex">
      <wsdl:input message="tns:mtdIndexSoapIn" />
      <wsdl:output message="tns:mtdIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarDTodosProWeb">
      <wsdl:input message="tns:mtdListarDTodosProWebSoapIn" />
      <wsdl:output message="tns:mtdListarDTodosProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarDSencillasProWeb">
      <wsdl:input message="tns:mtdListarDSencillasProWebSoapIn" />
      <wsdl:output message="tns:mtdListarDSencillasProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarDAnimalesProWeb">
      <wsdl:input message="tns:mtdListarDAnimalesProWebSoapIn" />
      <wsdl:output message="tns:mtdListarDAnimalesProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarDFloresProWeb">
      <wsdl:input message="tns:mtdListarDFloresProWebSoapIn" />
      <wsdl:output message="tns:mtdListarDFloresProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarDPersonajesProWeb">
      <wsdl:input message="tns:mtdListarDPersonajesProWebSoapIn" />
      <wsdl:output message="tns:mtdListarDPersonajesProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarDEspecialProWeb">
      <wsdl:input message="tns:mtdListarDEspecialProWebSoapIn" />
      <wsdl:output message="tns:mtdListarDEspecialProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCTodosProWeb">
      <wsdl:input message="tns:mtdListarCTodosProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCTodosProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCAmarilloProWeb">
      <wsdl:input message="tns:mtdListarCAmarilloProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCAmarilloProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCAzulProWeb">
      <wsdl:input message="tns:mtdListarCAzulProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCAzulProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCBlancoProWeb">
      <wsdl:input message="tns:mtdListarCBlancoProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCBlancoProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCCafeProWeb">
      <wsdl:input message="tns:mtdListarCCafeProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCCafeProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCGrisProWeb">
      <wsdl:input message="tns:mtdListarCGrisProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCGrisProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCMoradoProWeb">
      <wsdl:input message="tns:mtdListarCMoradoProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCMoradoProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCNaranjaProWeb">
      <wsdl:input message="tns:mtdListarCNaranjaProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCNaranjaProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCNegroProWeb">
      <wsdl:input message="tns:mtdListarCNegroProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCNegroProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCRojoProWeb">
      <wsdl:input message="tns:mtdListarCRojoProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCRojoProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCRosadoProWeb">
      <wsdl:input message="tns:mtdListarCRosadoProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCRosadoProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarCVerdeProWeb">
      <wsdl:input message="tns:mtdListarCVerdeProWebSoapIn" />
      <wsdl:output message="tns:mtdListarCVerdeProWebSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdNotificacionPedido">
      <wsdl:input message="tns:mtdNotificacionPedidoSoapIn" />
      <wsdl:output message="tns:mtdNotificacionPedidoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServidorProyectoSoap" type="tns:ServidorProyectoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdRegistrarClientes">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarCliente">
      <soap:operation soapAction="http://tempuri.org/mtdEditarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdCargarCliente">
      <soap:operation soapAction="http://tempuri.org/mtdCargarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarClientes">
      <soap:operation soapAction="http://tempuri.org/mtdListarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPedidos">
      <soap:operation soapAction="http://tempuri.org/mtdListarPedidos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdPedidosEscritorio">
      <soap:operation soapAction="http://tempuri.org/mtdPedidosEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginEscritorio">
      <soap:operation soapAction="http://tempuri.org/mtdLoginEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginWeb">
      <soap:operation soapAction="http://tempuri.org/mtdLoginWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPedido">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarProducto">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarProducto">
      <soap:operation soapAction="http://tempuri.org/mtdEditarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEliminarProducto">
      <soap:operation soapAction="http://tempuri.org/mtdEliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarAdmin">
      <soap:operation soapAction="http://tempuri.org/mtdListarAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPro">
      <soap:operation soapAction="http://tempuri.org/mtdListarPro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProEscritorio">
      <soap:operation soapAction="http://tempuri.org/mtdListarProEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb2">
      <soap:operation soapAction="http://tempuri.org/mtdListarProWeb2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCli">
      <soap:operation soapAction="http://tempuri.org/mtdListarCli" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdIndex">
      <soap:operation soapAction="http://tempuri.org/mtdIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDTodosProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarDTodosProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDSencillasProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarDSencillasProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDAnimalesProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarDAnimalesProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDFloresProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarDFloresProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDPersonajesProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarDPersonajesProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDEspecialProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarDEspecialProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCTodosProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCTodosProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCAmarilloProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCAmarilloProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCAzulProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCAzulProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCBlancoProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCBlancoProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCCafeProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCCafeProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCGrisProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCGrisProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCMoradoProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCMoradoProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCNaranjaProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCNaranjaProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCNegroProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCNegroProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCRojoProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCRojoProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCRosadoProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCRosadoProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCVerdeProWeb">
      <soap:operation soapAction="http://tempuri.org/mtdListarCVerdeProWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdNotificacionPedido">
      <soap:operation soapAction="http://tempuri.org/mtdNotificacionPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServidorProyectoSoap12" type="tns:ServidorProyectoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdRegistrarClientes">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarCliente">
      <soap12:operation soapAction="http://tempuri.org/mtdEditarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdCargarCliente">
      <soap12:operation soapAction="http://tempuri.org/mtdCargarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarClientes">
      <soap12:operation soapAction="http://tempuri.org/mtdListarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPedidos">
      <soap12:operation soapAction="http://tempuri.org/mtdListarPedidos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdPedidosEscritorio">
      <soap12:operation soapAction="http://tempuri.org/mtdPedidosEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginEscritorio">
      <soap12:operation soapAction="http://tempuri.org/mtdLoginEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdLoginWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarPedido">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdRegistrarProducto">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEditarProducto">
      <soap12:operation soapAction="http://tempuri.org/mtdEditarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdEliminarProducto">
      <soap12:operation soapAction="http://tempuri.org/mtdEliminarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarAdmin">
      <soap12:operation soapAction="http://tempuri.org/mtdListarAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarPro">
      <soap12:operation soapAction="http://tempuri.org/mtdListarPro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProEscritorio">
      <soap12:operation soapAction="http://tempuri.org/mtdListarProEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarProWeb2">
      <soap12:operation soapAction="http://tempuri.org/mtdListarProWeb2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCli">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCli" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdIndex">
      <soap12:operation soapAction="http://tempuri.org/mtdIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDTodosProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarDTodosProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDSencillasProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarDSencillasProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDAnimalesProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarDAnimalesProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDFloresProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarDFloresProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDPersonajesProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarDPersonajesProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarDEspecialProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarDEspecialProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCTodosProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCTodosProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCAmarilloProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCAmarilloProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCAzulProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCAzulProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCBlancoProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCBlancoProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCCafeProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCCafeProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCGrisProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCGrisProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCMoradoProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCMoradoProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCNaranjaProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCNaranjaProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCNegroProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCNegroProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCRojoProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCRojoProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCRosadoProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCRosadoProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarCVerdeProWeb">
      <soap12:operation soapAction="http://tempuri.org/mtdListarCVerdeProWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdNotificacionPedido">
      <soap12:operation soapAction="http://tempuri.org/mtdNotificacionPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServidorProyecto">
    <wsdl:port name="ServidorProyectoSoap" binding="tns:ServidorProyectoSoap">
      <soap:address location="http://localhost:50375/ServidorProyecto.asmx" />
    </wsdl:port>
    <wsdl:port name="ServidorProyectoSoap12" binding="tns:ServidorProyectoSoap12">
      <soap12:address location="http://localhost:50375/ServidorProyecto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>