ProyectoCieluz/appEscritorioCieluz/Connected Services/servicioEscritorioCieluz/ServidorProyecto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="mtdRegistrarClientes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjCliente" type="tns:clCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clCliente">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdCliente" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departamento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="mtdRegistrarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mtdRegistrarClientesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdListarClientes">
        <s:complexType />
      </s:element>
      <s:element name="mtdListarClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdListarClientesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginEscritorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mtdLoginEscritorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mtdLoginEscritorioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="mtdRegistrarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:mtdRegistrarClientes" />
  </wsdl:message>
  <wsdl:message name="mtdRegistrarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:mtdRegistrarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="mtdListarClientesSoapIn">
    <wsdl:part name="parameters" element="tns:mtdListarClientes" />
  </wsdl:message>
  <wsdl:message name="mtdListarClientesSoapOut">
    <wsdl:part name="parameters" element="tns:mtdListarClientesResponse" />
  </wsdl:message>
  <wsdl:message name="mtdLoginEscritorioSoapIn">
    <wsdl:part name="parameters" element="tns:mtdLoginEscritorio" />
  </wsdl:message>
  <wsdl:message name="mtdLoginEscritorioSoapOut">
    <wsdl:part name="parameters" element="tns:mtdLoginEscritorioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServidorProyectoSoap">
    <wsdl:operation name="mtdRegistrarClientes">
      <wsdl:input message="tns:mtdRegistrarClientesSoapIn" />
      <wsdl:output message="tns:mtdRegistrarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdListarClientes">
      <wsdl:input message="tns:mtdListarClientesSoapIn" />
      <wsdl:output message="tns:mtdListarClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mtdLoginEscritorio">
      <wsdl:input message="tns:mtdLoginEscritorioSoapIn" />
      <wsdl:output message="tns:mtdLoginEscritorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServidorProyectoSoap" type="tns:ServidorProyectoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdRegistrarClientes">
      <soap:operation soapAction="http://tempuri.org/mtdRegistrarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarClientes">
      <soap:operation soapAction="http://tempuri.org/mtdListarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginEscritorio">
      <soap:operation soapAction="http://tempuri.org/mtdLoginEscritorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServidorProyectoSoap12" type="tns:ServidorProyectoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="mtdRegistrarClientes">
      <soap12:operation soapAction="http://tempuri.org/mtdRegistrarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdListarClientes">
      <soap12:operation soapAction="http://tempuri.org/mtdListarClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mtdLoginEscritorio">
      <soap12:operation soapAction="http://tempuri.org/mtdLoginEscritorio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServidorProyecto">
    <wsdl:port name="ServidorProyectoSoap" binding="tns:ServidorProyectoSoap">
      <soap:address location="http://localhost:50375/ServidorProyecto.asmx" />
    </wsdl:port>
    <wsdl:port name="ServidorProyectoSoap12" binding="tns:ServidorProyectoSoap12">
      <soap12:address location="http://localhost:50375/ServidorProyecto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>